<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>619582973461-9icgrr0ca0o2nfvoo183ahuc3ff33naf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619582973461-9icgrr0ca0o2nfvoo183ahuc3ff33naf</string>
	<key>API_KEY</key>
	<string>AIzaSyATcg0WJIe8FIF7EDrj2IpNg6DCI9DT84c</string>
	<key>GCM_SENDER_ID</key>
	<string>619582973461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.vriz.lewis</string>
	<key>PROJECT_ID</key>
	<string>lewis-31731</string>
	<key>STORAGE_BUCKET</key>
	<string>lewis-31731.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619582973461:ios:e92d7530816d5550</string>
	<key>DATABASE_URL</key>
	<string>https://lewis-31731.firebaseio.com</string>
</dict>
</plist>